# Dependencies
/node_modules
client/node_modules
server/node_modules

# Build output
/build
client/build

# Testing
/coverage

# Production
*.env

# Miscellaneous
.eslintcache
.DS_Store
.idea
.vscode/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
