.forgot-password-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -10vh; /* Adjust this value if needed */
  }
  
  .forgot-password-card {
    padding: 2rem; /* Adjust padding as needed */
  }
  
  .forgot-password-heading {
    margin-bottom: 1.5rem; /* Adjust this value to control space below the heading */
  }
  
  @media (max-width: 576px) {
    .forgot-password-wrapper {
      margin-top: 0; /* Remove margin for smaller screens if needed */
    }
  }
  